


.boxModal {
    outline: solid red;
    display: flex;
width: 700px;
padding: 40px;
flex-direction: column;
gap: 40px;
border-radius: 10px;
background: var(--White, #FFF);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.btnOgolosh {
    display: flex;
height: 40px;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 50px;
border: 1px solid var(--CTA-blue-text, #84A6C2);
background: var(--White, #FFF);
width: 305px;
}
.btnRedag{
    width: 305px;
    display: flex;
height: 40px;
padding: 0px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 50px;
background: var(--Pink-BG, #FFF2F2);
}

.boxBtn {
    display: flex;
    gap: 10px;
}

.btnLast {
    display: flex;
height: 40px;
padding: 10px 30px;
justify-content: center;
align-items: center;
gap: 15px;
align-self: stretch;
border-radius: 50px;
background: var(--CTA-red, #A63A50);
color: var(--White, #FFF);
font-family: Verdana;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 21.6px */
width: 620px;
margin-top: 15px;
}